{% extends "dashboard/base_login.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="card-header pb-1">
    <div class="card-title">
        <h4 class="text-center mb-2">{% trans "Welcome Back" %}</h4>
    </div>
</div>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}


<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn btn-primary glow w-100 position-relative" type="submit">{% trans "Sign In" %}</button>
</form>
<hr>
<div class="text-center"><small class="mr-25">Don't have an account?</small>
 <a href="{{ signup_url }}"><small>Sign up</small></a></div>

{% endblock %}
