{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

{% include 'dashboard/head.html' %}
{% block styles %}
{% endblock styles %}
<body class="sidebar-icon-only sidebar-dark">
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'dashboard/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      {% include 'dashboard/todo.html' %}
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      {% include 'dashboard/sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          {% block content %}
              
          {% endblock content %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% include 'dashboard/footer.html' %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <iframe src="{% url 'crud_ajax' %}" width="100%" frameborder="0" height="500"></iframe>
  </div>
</div>
<!-- The Modal -->

{% for r in sub_url %}
    <div id="{{r.slug}}" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
              <iframe src="/{{r.url}}/" width="100%" frameborder="0" height="500"></iframe>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
{% include 'dashboard/scripts.html' %}

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
{% block scripts %}
{% endblock scripts %}
</body>

</html>

