{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Primecare Link Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'dash/css/icons.css' %}">
  <link rel="stylesheet" href="{% static 'dash/css/base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  
  <link rel="stylesheet" href="{% static 'dash/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'dash/css/overlay.css' %}">
  <!-- endinject -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
    <link rel="stylesheet" type="text/css" href="{% static 'css/drag/vendors.min.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/drag/bootstrap.min.css' %}"> -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/drag/components.min.css' %}"> -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/drag/drag-and-drop.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/drag/dragula.min.css' %}">
  <style>
    .modal-content {
    background-color: #ffffff21;
    }
  </style>
</head>